name: "Cloudflare Publish - NPM"

on:
  release:
    types: [published]

jobs:
  cf-release:
    name: "Publish Cloudflare Playwright to NPM"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - name: Determine version
        id: version
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "Triggered by tag: ${GITHUB_REF#refs/tags/}"
            VERSION="${GITHUB_REF#refs/tags/}"
          else
            echo "âŒ Unexpected trigger: ${GITHUB_REF}"
            exit 1
          fi
          # Set the output for later steps
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Run npm ci
        run: npm ci

      - name: Run playwright-cloudflare build
        run: |
          cd packages/playwright-cloudflare
          # Ensure the version is set before building, needed for cf-brapi-client header
          npm version ${{ steps.version.outputs.VERSION }} --no-git-tag-version
          npm run build
      
      - name: Publish to npm
        run: |
          cd packages/playwright-cloudflare
          cp ../../README.md .  
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
