name: "Cloudflare Publish - NPM"

on:
  release:
    types: [published]
  push:
    branches:
      - publish-action

jobs:
  cf-release:
    name: "publish to NPM"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - name: Run npm ci
        run: npm ci

      - name: Run playwright-cloudflare build
        run: |
          cd packages/playwright-cloudflare
          npm run build
      
      - name: Determine version
        id: version
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "Triggered by tag: ${GITHUB_REF#refs/tags/}"
            VERSION="${GITHUB_REF#refs/tags/}"
          elif [[ "${GITHUB_REF}" == refs/heads/publish-action ]]; then
            echo "Triggered by push to publish-action branch"
            VERSION="0.0.0-test"
          else
            echo "âŒ Unexpected trigger: ${GITHUB_REF}"
            exit 1
          fi
          # Set the output for later steps
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Dry run
        run: |
          cd packages/playwright-cloudflare
          npm version ${{ steps.version.outputs.VERSION }} --no-git-tag-version
          npm publish --dry-run
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      
      - name: Publish to npm
        if: ${{ steps.version.outputs.VERSION != '0.0.0-test' }}
        
        run: |
          cd packages/playwright-cloudflare
          npm version ${{ steps.version.outputs.VERSION }} --no-git-tag-version
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Commit and push version bump
        if: ${{ steps.version.outputs.VERSION != '0.0.0-test' }}
        run: |
          npm version ${{ steps.version.outputs.VERSION }} --no-git-tag-version
          git config user.name "GitHub Actions"
          git config user.email "ci@github.com"
          git commit -am "chore: set version to ${GITHUB_REF#refs/tags/v}"
          git push origin HEAD
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
